{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'approved_documentation_list.css' %}">
<link rel="stylesheet" href="{% static 'animation.css' %}">
{% endblock %}


{% block content %}
<main class="container">
  <section class="search-area">
    <h2>Search</h2>
    <form method="GET" action="{% url 'approved_docs' %}" id="documentationSearchForm"
      data-departments-url="{% url 'load_departments' %}" 
      data-programmes-url="{% url 'load_programmes' %}"
      data-supervisors-url="{% url 'load_supervisors' %}">
      <!-- {% csrf_token %} -->
      <div class="form-row">
        <div class="form-group col-12">
          <div class="input-group">
            <input class="form-control py-2 border-right-0 border" type="search" name="title_contains"
              placeholder="Title contains..." />
            <span class="input-group-append">
              <div class="input-group-text bg-transparent">
                <i class="fa fa-search"></i>
              </div>
            </span>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <div class="input-group">
            <input class="form-control py-2 border-right-0 border" type="search" name="abstract_contains"
              placeholder="Abstract contains..." />
            <span class="input-group-append">
              <div class="input-group-text bg-transparent">
                <i class="fa fa-search"></i>
              </div>
            </span>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="id_faculty">Faculty</label>
          <select name="faculty" id="id_faculty" class="form-control">
            <option selected>Choose...</option>
            {% for faculty in faculties %}
            <option value="{{ faculty.name }}">{{ faculty.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="id_department">Department</label>
          <select name="department" id="id_department" class="form-control">
            <option selected>Choose...</option>
            {% for department in departments %}
            <option value="{{ department.name }}">{{ department.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="id_programme">Programme</label>
          <select name="programme" id="id_programme" class="form-control">
            <option selected>Choose...</option>
            {% for programme in programmes %}
            <option value="{{ programme.name }}">{{ programme.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="id_supervisor">Supervisor</label>
          <select id="id_supervisor" class="form-control" name="supervisor">
            <option selected>Choose...</option>
            {% for supervisor in supervisors %}
            <option value="{{ supervisor.name }}">{{ supervisor.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group col-md-1 col-lg-2">
          <label for="publishDateMin">Publish date minimum</label>
          <input type="date" class="form-control" id="publishDateMin" name="date_min">
        </div>
        <div class="form-group col-md-1 col-lg-2">
          <label for="publishDateMax">Publish date maximum</label>
          <input type="date" class="form-control" id="publishDateMax" name="date_max">
        </div>
      </div>
      <button type="submit">Search</button>
    </form>
  </section>


  <section class="search-results transitionDown">
    <h2>Search Results</h2>
    <ul>
      {% for documentation in documentations %}
      <li>
        <span class="author">{{ documentation.author }}</span>
        <span class="title">{{ documentation.title|truncatewords:3 }}</span>
        <span class="faculty">
          <a href="{% url 'approved_docs' %}?faculty={{ documentation.faculty }}">{{ documentation.faculty }}</a>
        </span>
        <span class="programme">
          <a href="{% url 'approved_docs' %}?programme={{ documentation.programme }}">
            {{ documentation.programme|truncatewords:6 }}</a>
        </span>
        <span class="abstract">{{ documentation.abstract|truncatewords:12 }}</span>
        <a href="{% url 'approved_doc_detail' documentation.author.username %}">
          <button class="open-btn">View</button>
        </a>
        <button class="chat-btn" onclick="window.open('{{ documentation.web_view_link }}', '_blank')">
          Open Doc
        </button>
      </li>
      {% empty %}
      <p>No documentation found.</p>
      {% endfor %}
    </ul>
  </section>

</main>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="{% static 'js/load_items.js' %}"></script>
{% endblock %}

