{% extends 'base.html' %}
{% load static %}


{% block title %}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'login.css' %}">
<link rel="stylesheet" href="{% static 'animation.css' %}">
{% endblock %}

{% block other_links %}
{% endblock %}

{% block content %}
<main class="transitionIn">
    <section class="login-form">
        <h2>Login</h2>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div>
                <label for="{{ form.username.id_for_label }}">Username:</label>
                {{ form.username }}
            </div>
            <div>
                <label for="{{ form.password.id_for_label }}">Password:</label>
                {{ form.password }}
            </div>
            <button type="submit">Login</button>
        </form>
    </section>
</main>
{% endblock %}